<div>
    <crd-toolbar current-nav-item="admin" show-tabs="true"></crd-toolbar>

    <md-content md-whiteframe="2dp" style="margin:16px;padding:8px;">
        <md-tabs md-dynamic-height md-border-bottom>

            <md-tab label="Patients (General)">
                <md-content class="md-padding" ng-repeat="key in keys">
                    <h3 class="admin-tabs-heading">{{key[0]}}</h3>
                    <md-chips ng-model="key[1]">
                        <md-chip-template>
                            <span>{{$chip.value}}</span>
                        </md-chip-template>
                    </md-chips>
                </md-content>
            </md-tab>

            <md-tab label="Users">
                <md-content class="md-padding">
                    <h3 class="md-display-2">Users</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue. Phasellus volutpat neque ac dui mattis vulputate. Etiam consequat aliquam cursus. In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur felis nec, feugiat ultricies mi.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue. Phasellus volutpat neque ac dui mattis vulputate. Etiam consequat aliquam cursus. In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur felis nec, feugiat ultricies mi.</p>
                </md-content>
            </md-tab>
        </md-tabs>
    </md-content>

</div>