<md-dialog class="md-padding" layout-margin style="width:350px;">

    <div layout="row">
        <h3>Change Your Password</h3>
        <div flex></div>
        <md-icon class="material-icons" ng-click="cancel()" style="cursor:pointer;outline:none;">close</md-icon>
    </div>

    <div layout="column">
        <md-input-container>
            <label>New Password</label>
            <input ng-model="password" type="password">
        </md-input-container>

        <md-input-container>
            <label>Confirm Password</label>
            <input ng-model="confirmPassword" type="password">
        </md-input-container>

        <div ng-if="error" style="color:red;margin:18px 0;">{{error}}</div>

        <div layout="row">
            <div flex></div>
            <md-button class="md-raised md-primary" ng-click="cancel()">Cancel</md-button>
            <md-button class="md-raised md-primary" ng-click="changePwd()">Save</md-button>
        </div>
    </div>

</md-dialog>