<div>
    <crd-toolbar></crd-toolbar>

    <div class="md-padding" md-whiteframe="2dp" layout="row" style="margin:48px;">
        <div flex></div>
        <md-input-container style="width:350px;">
            <label>Select your study</label>
            <md-select ng-model="selectedStudy" ng-change="onStudyChange()">
                <md-option ng-repeat="study in studies" ng-value="study">
                    {{study.study_name}}
                </md-option>
            </md-select>
        </md-input-container>
        <div flex></div>
    </div>

</div>