<div>
    <crd-toolbar current-nav-item="isolates" show-tabs="true"></crd-toolbar>

    <md-content class="md-padding">
        <div class="section" md-whiteframe="1" layout="column">
            <md-toolbar md-colors="{'color':'grey-700'}" style="background-color: transparent">
                <div class="md-toolbar-tools">
                    <div layout="column" flex>
                        <h2>Isolate Information</h2>
                        <div class="md-caption" style="padding-bottom: 0;">Find isolate/sample</div>
                    </div>
                </div>
            </md-toolbar>

            <div layout="row" style="padding:8px;margin-top: 0">
                <md-input-container flex="50" style="margin:8px;">
                    <label>Isolate Id</label>
                    <input ng-model="isolateId" required />
                    <!--<md-select ng-model="selectedPatient" ng-change="onPatientSelect(selectedPatient)">
                        <md-option ng-repeat="patient in patients" ng-value="{{patient}}">
                            {{patient.patient_id}}
                        </md-option>
                    </md-select>-->
                </md-input-container>
                <md-button class="md-primary md-raised" style="height:36px;" ng-click="findSample()">Search</md-button>
            </div>
        </div>
    </md-content>

</div>