<div>
    <crd-toolbar current-nav-item="patients" show-tabs="true"></crd-toolbar>

    <md-content class="md-padding">
        <div class="section" md-whiteframe="1" layout="column">
            <md-toolbar md-colors="{'color':'grey-700'}" style="background-color: transparent">
                <div class="md-toolbar-tools">
                    <div layout="column" flex>
                        <h2>Patient Information</h2>
                        <div class="md-caption" style="padding-bottom: 0;">Find or create patient.</div>
                    </div>
                </div>
            </md-toolbar>
            <div layout="row" style="padding:8px;margin-top: 0">
                <md-button class="md-primary md-raised" ng-click="editPatient = true">
                    Edit Existing Patient</md-button>
                <md-button class="md-primary md-raised" ng-click="editPatient = false">
                    Enter New Patient</md-button>
            </div>
        </div>
    </md-content>

    <md-content class="md-padding" ng-if="editPatient">
        <div class="section" md-whiteframe="1" layout="column">
            <md-toolbar md-colors="{'color':'grey-700'}" style="background-color: transparent">
                <div class="md-toolbar-tools">
                    <div layout="column" flex>
                        <h2>Select Patient</h2>
                        <div class="md-caption" style="padding-bottom: 0;">Select a patient to get more information.</div>
                    </div>
                </div>
            </md-toolbar>
            <div layout="row" style="padding:8px;margin-top: 0">
                <md-input-container flex="50" style="margin-left:8px;">
                    <label>Patient Id</label>
                    <md-select ng-model="selectedPatient" ng-change="onPatientSelect(selectedPatient)">
                        <md-option ng-repeat="patient in patients" ng-value="patient">
                            {{patient.subjectId}}
                        </md-option>
                    </md-select>
                </md-input-container>
            </div>
        </div>
    </md-content>

    <md-content class="md-padding" ng-if="!editPatient">
        <div class="section" md-whiteframe="1" layout="column">
            <md-toolbar md-colors="{'color':'grey-700'}" style="background-color: transparent">
                <div class="md-toolbar-tools">
                    <div layout="column" flex>
                        <h2>Create Patient</h2>
                        <div class="md-caption" style="padding-bottom: 0;">Create new patient.</div>
                    </div>
                </div>
            </md-toolbar>
            <div layout="row" style="padding:8px;margin-top: 0">

            </div>
        </div>
    </md-content>
</div>