<div>
    <crd-toolbar current-nav-item="query" show-tabs="true"></crd-toolbar>

    <md-content layout-margin class="md-padding" layout="column" md-whiteframe="2dp">

        <md-toolbar md-colors="{'color':'grey-700'}" style="background-color: transparent">
            <div class="md-toolbar-tools">
                <div layout="column" flex>
                    <h2>Query</h2>
                    <div class="md-caption" style="padding-bottom: 0;">
                        Select Fields to Query</div>
                </div>
            </div>
        </md-toolbar>

        <div class="md-padding" layout="row">
            <div layout="column" class="md-padding" flex="70" style="border:1px solid lightgrey;">
                <div class="query-heading">All Fields</div>
                <md-chips ng-model="allFields" readonly=true md-removable=false>
                    <md-chip-template>
                        <span>{{$chip.field_name}}</span>
                        <md-icon class="material-icons" ng-click="addToQueryFields($chip)"
                                 style="outline:none;cursor:pointer;">add</md-icon>
                    </md-chip-template>
                </md-chips>
            </div>
            <div flex="5"></div>
            <div layout="column" class="md-padding" flex="25" style="border:1px solid lightgrey;">
                <div class="query-heading">Fields to Query</div>
                <md-chips ng-model="queryFields" readonly=true md-removable=true md-on-remove="removeFromQueryFields($chip)">
                    <md-chip-template>
                        <span>{{$chip.field_name}}</span>
                    </md-chip-template>
                </md-chips>
            </div>
        </div>

        <div layout="column" style="border:3px solid lightgrey;padding:16px;" ng-repeat="row in rows"
                ng-class="{queryMargin: $index !== 0, queryMarginBottom: $index === 0}">
            <div layout="row">
                <label style="width:100px;margin-top:7px;font-weight:500;">Filtered On: </label>
                <md-select ng-model="row.filterValue" ng-change="filterValueSelected(row)" aria-label="query filter"
                           style="margin:0 8px;width:200px;" ng-disabled="row.disableFilter">
                    <md-option ng-repeat="af in allFields" ng-value="af">{{af.field_name}}</md-option>
                </md-select>
                <label ng-if="row.showCondition" style="width:32px;margin:7px 0 0 8px;font-weight:500;">is: </label>
                <md-select ng-if="row.showCondition" ng-model="row.filterCondition" aria-label="query condition"
                           style="margin:0 8px;width:75px;">
                    <md-option ng-repeat="ct in conditionTypes" ng-value="ct">{{ct}}</md-option>
                </md-select>
                <input ng-model="row.whatValue" ng-if="row.showCondition" placeholder="what" style="margin:0 8px;" />
            </div>
            <div layout="row" ng-if="row.showCondition" class="md-padding" style="padding-left:0;">
                <label style="margin-top:16px;font-weight:500;padding-left:0;">Add Another Condition?</label>
                <md-select ng-model="row.condition" style="margin:0 16px;width:75px;" aria-label="new join query"
                           ng-change="addNewRow()">
                    <md-option ng-repeat="qc in queryConditions" ng-value="qc">{{qc}}</md-option>
                </md-select>
                <md-button class="md-warn md-raised" ng-click="removeCurrentRow(row, $index)">Remove This Filter</md-button>
            </div>
        </div>

        <div layout="row">
            <md-button class="md-primary md-raised" ng-click="search()">Search</md-button>
            <md-button class="md-warn md-raised" ng-click="reset()">Reset</md-button>
        </div>

    </md-content>

</div>