<div>
    <crd-toolbar current-nav-item="tests" show-tabs="true"></crd-toolbar>

    <md-content layout-margin class="md-padding" layout="column" md-whiteframe="2dp">

        <md-toolbar md-colors="{'color':'grey-700'}" style="background-color: transparent">
            <div class="md-toolbar-tools">
                <div layout="column" flex>
                    <h2>Test Information</h2>
                    <div class="md-caption" style="padding-bottom: 0;">
                        View/edit information</div>
                </div>
            </div>
        </md-toolbar>

        <div layout="row">
            <md-button class="md-primary md-raised" ng-disabled="enableSave()" ng-click="saveAllTests()">
                Save All</md-button>
        </div>

        <md-table-container>
            <table md-table>
                <thead md-head>
                    <tr md-row>
                        <th md-column ng-repeat="column in columnMetadata">{{column.DisplayName}}</th>
                    </tr>
                </thead>
                <tbody md-body>
                    <tr md-row ng-repeat="test in allTests">
                        <td md-cell ng-repeat="columnName in columnMetadata">
                            <label ng-if="columnName.DataType === 'text'">{{test[columnName.LabelText]}}</label>
                            <input ng-if="columnName.DataType === 'single'" ng-model="test[columnName.LabelText]" style="outline:none;"/>
                            <md-select ng-if="columnName.DataType === 'multiple'" ng-model="test[columnName.LabelText]"
                                aria-laebl="test unit select" placeholder="Select value">
                                <md-option ng-repeat="a in testDropDownValues[columnName.LabelText]" ng-value="a.Value">
                                    {{a.Value}}</md-option>
                            </md-select>
                        </td>
                    </tr>
                </tbody>
            </table>
        </md-table-container>

        <div layout="row">
            <md-button class="md-primary md-raised" ng-disabled="enableSave()" ng-click="saveAllTests()">
                Save All</md-button>
        </div>

    </md-content>

</div>