<div>
    <crd-toolbar current-nav-item="tests" show-tabs="true"></crd-toolbar>

    <md-content class="md-padding">
        <div class="section" md-whiteframe="1" layout="column">
            <md-toolbar md-colors="{'color':'grey-700'}" style="background-color: transparent">
                <div class="md-toolbar-tools">
                    <div layout="column" flex>
                        <h2>Test Information</h2>
                        <div class="md-caption" style="padding-bottom: 0;">Find more about tests</div>
                    </div>
                </div>
            </md-toolbar>

            <div layout="column" style="padding:8px;margin-top: 0">
                <div layout="row" style="margin:8px;">
                    <label style="margin-right:16px;">Search Criteria</label>
                    <md-radio-group ng-model="searchCriteria" layout="row">
                        <md-radio-button value="SAMPLE" class="md-primary">Sample</md-radio-button>
                        <md-radio-button value="ISOLATE" class="md-primary"> Isolate </md-radio-button>
                    </md-radio-group>
                </div>
                <div layout="row">
                    <md-input-container flex="50" style="margin:8px;">
                        <label ng-show="searchCriteria === 'SAMPLE'">Sample Id</label>
                        <label ng-show="searchCriteria !== 'SAMPLE'">Isolate Id</label>
                        <input ng-model="idToSearch" required />
                    </md-input-container>
                    <md-button class="md-primary md-raised" style="height:36px;" ng-click="getTestInfo()">
                        Search</md-button>
                </div>
            </div>
        </div>
    </md-content>

</div>